body{
    background-color: rgb(74, 74, 166);
    font: normal 15pt arial;



}

header{
    color: white;
    text-align: center;

}

section{
    background-color: aliceblue;
    border-radius: 40px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 1px rgba(1, 78, 64, 0.627);

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}