body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  background-color: azure;

}

h1{
  color:black;
}

p{
  background-color: gray;
  padding: 10px
}

.subtitulo{
  margin: 0px;
  padding-top: 20px;
  background-color: azure;
  text-decoration: dotted underline;
}