.container {    
    grid-template-rows: 75px 40px 300px 300px 150px;
    grid-template-columns: 80wv 20vw; 
}

header {
    grid-area: 1/1 / 2/3;
}

#menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    grid-area: 2/1  / 3/3;
}

#menu>ul {
    padding: 10px;
    flex: 0;
    flex-basis: 180px;
}


#imagem {
    grid-area: 3/2 /4/3;
}

#imagem>img {
    height: 270px;
}

article {
    grid-area: 3/1 / 5/2;
}

article>h2 {
    padding-top: 20px;
    padding-bottom: 0px;
}

#textodolado {
    place-self: center center;
    max-width: 300px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    text-align: right;
    background-color:rgb(201, 38, 38);
    grid-area: 4/2 / 5/3;
}

#textodolado>p {
    text-align: right;
}

footer {
    text-align: center;
    grid-area: 5/1 / 6/3;
}

#textopequeno {
    margin-left: 200px;
    margin-right: 200px;

}